<form class="dice-tower-config" autocomplete="off">
  <section class="dice-tower-config__toolbar">
    <label class="dice-tower-config__preview-label">
      {{localize "DICETOWER.Menu.DiceConfig.Preview.Formula"}}
      <input type="text" name="preview.formula" value="{{previewFormula}}" placeholder="1d20" />
    </label>
    <button type="button" data-action="preview">{{localize "DICETOWER.Menu.DiceConfig.Preview.Roll"}}</button>
    <button type="submit">{{localize "DICETOWER.Menu.Common.Save"}}</button>
  </section>

  <section class="dice-tower-config__panel">
    <h2>{{localize "DICETOWER.Menu.DiceConfig.Section.ClientSettings"}}</h2>
    <div class="dice-tower-config__grid">
      <label><input type="hidden" name="settings.client.enabled" value="false" /><input type="checkbox" name="settings.client.enabled" value="true" {{#if clientSettings.enabled}}checked{{/if}} /> {{localize "DICETOWER.Settings.enabled.Name"}}</label>
      <label><input type="hidden" name="settings.client.showExtraDice" value="false" /><input type="checkbox" name="settings.client.showExtraDice" value="true" {{#if clientSettings.showExtraDice}}checked{{/if}} /> {{localize "DICETOWER.Settings.showExtraDice.Name"}}</label>
      <label><input type="hidden" name="settings.client.onlyShowOwnDice" value="false" /><input type="checkbox" name="settings.client.onlyShowOwnDice" value="true" {{#if clientSettings.onlyShowOwnDice}}checked{{/if}} /> {{localize "DICETOWER.Settings.onlyShowOwnDice.Name"}}</label>
      <label><input type="hidden" name="settings.client.hideAfterRoll" value="false" /><input type="checkbox" name="settings.client.hideAfterRoll" value="true" {{#if clientSettings.hideAfterRoll}}checked{{/if}} /> {{localize "DICETOWER.Settings.hideAfterRoll.Name"}}</label>
      <label>{{localize "DICETOWER.Settings.timeBeforeHide.Name"}}<input type="number" name="settings.client.timeBeforeHide" value="{{clientSettings.timeBeforeHide}}" min="0" max="20000" step="100" /></label>
      <label>{{localize "DICETOWER.Settings.hideFX.Name"}}<select name="settings.client.hideFX">{{selectOptions hideFxOptions selected=clientSettings.hideFX valueAttr="value" labelAttr="label" localize=false}}</select></label>
      <label><input type="hidden" name="settings.client.autoscale" value="false" /><input type="checkbox" name="settings.client.autoscale" value="true" {{#if clientSettings.autoscale}}checked{{/if}} /> {{localize "DICETOWER.Settings.autoscale.Name"}}</label>
      <label>{{localize "DICETOWER.Settings.scale.Name"}}<input type="number" name="settings.client.scale" value="{{clientSettings.scale}}" min="10" max="200" step="1" /></label>
      <label>{{localize "DICETOWER.Settings.speed.Name"}}<input type="number" name="settings.client.speed" value="{{clientSettings.speed}}" min="0.5" max="3" step="0.1" /></label>
      <label>{{localize "DICETOWER.Settings.imageQuality.Name"}}<select name="settings.client.imageQuality">{{selectOptions imageQualityOptions selected=clientSettings.imageQuality valueAttr="value" labelAttr="label" localize=false}}</select></label>
      <label>{{localize "DICETOWER.Settings.shadowQuality.Name"}}<select name="settings.client.shadowQuality">{{selectOptions shadowQualityOptions selected=clientSettings.shadowQuality valueAttr="value" labelAttr="label" localize=false}}</select></label>
      <label><input type="hidden" name="settings.client.bumpMapping" value="false" /><input type="checkbox" name="settings.client.bumpMapping" value="true" {{#if clientSettings.bumpMapping}}checked{{/if}} /> {{localize "DICETOWER.Settings.bumpMapping.Name"}}</label>
      <label><input type="hidden" name="settings.client.sounds" value="false" /><input type="checkbox" name="settings.client.sounds" value="true" {{#if clientSettings.sounds}}checked{{/if}} /> {{localize "DICETOWER.Settings.sounds.Name"}}</label>
      <label>{{localize "DICETOWER.Settings.soundsSurface.Name"}}<select name="settings.client.soundsSurface">{{selectOptions soundsSurfaceOptions selected=clientSettings.soundsSurface valueAttr="value" labelAttr="label" localize=false}}</select></label>
      <label>{{localize "DICETOWER.Settings.soundsVolume.Name"}}<input type="number" name="settings.client.soundsVolume" value="{{clientSettings.soundsVolume}}" min="0" max="1" step="0.01" /></label>
      <label>{{localize "DICETOWER.Settings.canvasZIndex.Name"}}<select name="settings.client.canvasZIndex">{{selectOptions canvasZIndexOptions selected=clientSettings.canvasZIndex valueAttr="value" labelAttr="label" localize=false}}</select></label>
      <label>{{localize "DICETOWER.Settings.throwingForce.Name"}}<select name="settings.client.throwingForce">{{selectOptions throwingForceOptions selected=clientSettings.throwingForce valueAttr="value" labelAttr="label" localize=false}}</select></label>
      <label><input type="hidden" name="settings.client.useHighDPI" value="false" /><input type="checkbox" name="settings.client.useHighDPI" value="true" {{#if clientSettings.useHighDPI}}checked{{/if}} /> {{localize "DICETOWER.Settings.useHighDPI.Name"}}</label>
      <label>{{localize "DICETOWER.Settings.antialiasing.Name"}}<select name="settings.client.antialiasing">{{selectOptions antialiasingOptions selected=clientSettings.antialiasing valueAttr="value" labelAttr="label" localize=false}}</select></label>
      <label><input type="hidden" name="settings.client.glow" value="false" /><input type="checkbox" name="settings.client.glow" value="true" {{#if clientSettings.glow}}checked{{/if}} /> {{localize "DICETOWER.Settings.glow.Name"}}</label>
      <label><input type="hidden" name="settings.client.showOthersSFX" value="false" /><input type="checkbox" name="settings.client.showOthersSFX" value="true" {{#if clientSettings.showOthersSFX}}checked{{/if}} /> {{localize "DICETOWER.Settings.showOthersSFX.Name"}}</label>
      <label><input type="hidden" name="settings.client.immersiveDarkness" value="false" /><input type="checkbox" name="settings.client.immersiveDarkness" value="true" {{#if clientSettings.immersiveDarkness}}checked{{/if}} /> {{localize "DICETOWER.Settings.immersiveDarkness.Name"}}</label>
      <label><input type="hidden" name="settings.client.muteSoundSecretRolls" value="false" /><input type="checkbox" name="settings.client.muteSoundSecretRolls" value="true" {{#if clientSettings.muteSoundSecretRolls}}checked{{/if}} /> {{localize "DICETOWER.Settings.muteSoundSecretRolls.Name"}}</label>
      <label><input type="hidden" name="settings.client.enableFlavorColorset" value="false" /><input type="checkbox" name="settings.client.enableFlavorColorset" value="true" {{#if clientSettings.enableFlavorColorset}}checked{{/if}} /> {{localize "DICETOWER.Settings.enableFlavorColorset.Name"}}</label>
    </div>
  </section>

  {{#if isGM}}
    <section class="dice-tower-config__panel">
      <h2>{{localize "DICETOWER.Menu.DiceConfig.Section.WorldSettings"}}</h2>
      <div class="dice-tower-config__grid">
        <label>{{localize "DICETOWER.Settings.maxDiceNumber.Name"}}<input type="number" name="settings.world.maxDiceNumber" value="{{worldSettings.maxDiceNumber}}" min="1" max="1000" step="1" /></label>
        <label>{{localize "DICETOWER.Settings.globalAnimationSpeed.Name"}}<select name="settings.world.globalAnimationSpeed">{{selectOptions worldSpeedOptions selected=worldSettings.globalAnimationSpeed valueAttr="value" labelAttr="label" localize=false}}</select></label>
        <label><input type="hidden" name="settings.world.disabledDuringCombat" value="false" /><input type="checkbox" name="settings.world.disabledDuringCombat" value="true" {{#if worldSettings.disabledDuringCombat}}checked{{/if}} /> {{localize "DICETOWER.Settings.disabledDuringCombat.Name"}}</label>
        <label><input type="hidden" name="settings.world.disabledForInitiative" value="false" /><input type="checkbox" name="settings.world.disabledForInitiative" value="true" {{#if worldSettings.disabledForInitiative}}checked{{/if}} /> {{localize "DICETOWER.Settings.disabledForInitiative.Name"}}</label>
        <label><input type="hidden" name="settings.world.hide3dDiceOnSecretRolls" value="false" /><input type="checkbox" name="settings.world.hide3dDiceOnSecretRolls" value="true" {{#if worldSettings.hide3dDiceOnSecretRolls}}checked{{/if}} /> {{localize "DICETOWER.Settings.hide3dDiceOnSecretRolls.Name"}}</label>
        <label>{{localize "DICETOWER.Settings.showGhostDice.Name"}}<select name="settings.world.showGhostDice">{{selectOptions ghostModeOptions selected=worldSettings.showGhostDice valueAttr="value" labelAttr="label" localize=false}}</select></label>
        <label><input type="hidden" name="settings.world.hideNpcRolls" value="false" /><input type="checkbox" name="settings.world.hideNpcRolls" value="true" {{#if worldSettings.hideNpcRolls}}checked{{/if}} /> {{localize "DICETOWER.Settings.hideNpcRolls.Name"}}</label>
        <label><input type="hidden" name="settings.world.animateRollTable" value="false" /><input type="checkbox" name="settings.world.animateRollTable" value="true" {{#if worldSettings.animateRollTable}}checked{{/if}} /> {{localize "DICETOWER.Settings.animateRollTable.Name"}}</label>
        <label><input type="hidden" name="settings.world.animateInlineRoll" value="false" /><input type="checkbox" name="settings.world.animateInlineRoll" value="true" {{#if worldSettings.animateInlineRoll}}checked{{/if}} /> {{localize "DICETOWER.Settings.animateInlineRoll.Name"}}</label>
        <label><input type="hidden" name="settings.world.enabledSimultaneousRolls" value="false" /><input type="checkbox" name="settings.world.enabledSimultaneousRolls" value="true" {{#if worldSettings.enabledSimultaneousRolls}}checked{{/if}} /> {{localize "DICETOWER.Settings.enabledSimultaneousRolls.Name"}}</label>
        <label><input type="hidden" name="settings.world.enabledSimultaneousRollForMessage" value="false" /><input type="checkbox" name="settings.world.enabledSimultaneousRollForMessage" value="true" {{#if worldSettings.enabledSimultaneousRollForMessage}}checked{{/if}} /> {{localize "DICETOWER.Settings.enabledSimultaneousRollForMessage.Name"}}</label>
      </div>
    </section>
  {{/if}}

  <section class="dice-tower-config__panel">
    <h2>{{localize "DICETOWER.Menu.DiceConfig.Section.AppearanceGlobal"}}</h2>
    <div class="dice-tower-config__grid">
      <label>{{localize "DICETOWER.Menu.DiceConfig.Appearance.Colorset"}}<select name="appearance.global.colorset">{{selectOptions colorsets selected=globalAppearance.colorset valueAttr="value" labelAttr="label" localize=false}}</select></label>
      <label>{{localize "DICETOWER.Menu.DiceConfig.Appearance.Texture"}}<select name="appearance.global.texture">{{selectOptions textures selected=globalAppearance.texture valueAttr="value" labelAttr="label" localize=false}}</select></label>
      <label>{{localize "DICETOWER.Menu.DiceConfig.Appearance.Material"}}<select name="appearance.global.material">{{selectOptions materials selected=globalAppearance.material valueAttr="value" labelAttr="label" localize=false}}</select></label>
      <label>{{localize "DICETOWER.Menu.DiceConfig.Appearance.System"}}<input type="text" name="appearance.global.system" value="{{globalAppearance.system}}" /></label>
      <label>{{localize "DICETOWER.Menu.DiceConfig.Appearance.Font"}}<input type="text" name="appearance.global.font" value="{{globalAppearance.font}}" /></label>
      <label>{{localize "DICETOWER.Menu.DiceConfig.Appearance.LabelColor"}}<input type="color" name="appearance.global.labelColor" value="{{globalAppearance.labelColor}}" /></label>
      <label>{{localize "DICETOWER.Menu.DiceConfig.Appearance.DiceColor"}}<input type="color" name="appearance.global.diceColor" value="{{globalAppearance.diceColor}}" /></label>
      <label>{{localize "DICETOWER.Menu.DiceConfig.Appearance.OutlineColor"}}<input type="color" name="appearance.global.outlineColor" value="{{globalAppearance.outlineColor}}" /></label>
      <label>{{localize "DICETOWER.Menu.DiceConfig.Appearance.EdgeColor"}}<input type="color" name="appearance.global.edgeColor" value="{{globalAppearance.edgeColor}}" /></label>
    </div>
  </section>

  <section class="dice-tower-config__panel">
    <h2>{{localize "DICETOWER.Menu.DiceConfig.Section.AppearancePerDie"}}</h2>
    <div class="dice-tower-config__table dice-tower-config__table--appearance">
      <div class="dice-tower-config__row dice-tower-config__row--header">
        <span>{{localize "DICETOWER.Menu.DiceConfig.Table.Die"}}</span>
        <span>{{localize "DICETOWER.Settings.enabled.Name"}}</span>
        <span>{{localize "DICETOWER.Menu.DiceConfig.Appearance.Colorset"}}</span>
        <span>{{localize "DICETOWER.Menu.DiceConfig.Appearance.Texture"}}</span>
        <span>{{localize "DICETOWER.Menu.DiceConfig.Appearance.Material"}}</span>
        <span>{{localize "DICETOWER.Menu.DiceConfig.Appearance.System"}}</span>
      </div>
      {{#each appearanceScopes as |scope|}}
        <div class="dice-tower-config__row">
          <span>{{scope.id}}</span>
          <span><input type="hidden" name="appearance.{{scope.id}}.enabled" value="false" /><input type="checkbox" name="appearance.{{scope.id}}.enabled" value="true" {{#if scope.enabled}}checked{{/if}} /></span>
          <span><select name="appearance.{{scope.id}}.colorset">{{selectOptions ../colorsets selected=scope.colorset valueAttr="value" labelAttr="label" localize=false}}</select></span>
          <span><select name="appearance.{{scope.id}}.texture">{{selectOptions ../textures selected=scope.texture valueAttr="value" labelAttr="label" localize=false}}</select></span>
          <span><select name="appearance.{{scope.id}}.material">{{selectOptions ../materials selected=scope.material valueAttr="value" labelAttr="label" localize=false}}</select></span>
          <span><input type="text" name="appearance.{{scope.id}}.system" value="{{scope.system}}" /></span>
        </div>
      {{/each}}
    </div>
  </section>

  <section class="dice-tower-config__panel">
    <h2>{{localize "DICETOWER.Menu.DiceConfig.Section.SpecialEffects"}}</h2>
    <div class="dice-tower-config__table dice-tower-config__table--sfx">
      <div class="dice-tower-config__row dice-tower-config__row--header">
        <span>{{localize "DICETOWER.Menu.DiceConfig.SFX.DiceType"}}</span>
        <span>{{localize "DICETOWER.Menu.DiceConfig.SFX.OnResult"}}</span>
        <span>{{localize "DICETOWER.Menu.DiceConfig.SFX.Effect"}}</span>
        <span>{{localize "DICETOWER.Menu.DiceConfig.SFX.Global"}}</span>
      </div>
      {{#each sfxRows as |row|}}
        <div class="dice-tower-config__row">
          <span><input type="text" name="sfxRows.{{row.index}}.diceType" value="{{row.diceType}}" placeholder="{{localize "DICETOWER.Menu.DiceConfig.SFX.Placeholder.DiceType"}}" /></span>
          <span><input type="text" name="sfxRows.{{row.index}}.onResult" value="{{row.onResult}}" placeholder="{{localize "DICETOWER.Menu.DiceConfig.SFX.Placeholder.OnResult"}}" /></span>
          <span><select name="sfxRows.{{row.index}}.specialEffect">{{selectOptions ../sfxModeOptions selected=row.specialEffect valueAttr="value" labelAttr="label" localize=false blank=""}}</select></span>
          <span><input type="hidden" name="sfxRows.{{row.index}}.isGlobal" value="false" /><input type="checkbox" name="sfxRows.{{row.index}}.isGlobal" value="true" {{#if row.isGlobal}}checked{{/if}} /></span>
        </div>
      {{/each}}
    </div>
    <p class="dice-tower-config__hint">{{localize "DICETOWER.Menu.DiceConfig.SFX.Hint"}}</p>
  </section>
</form>
